<ion-tabs class="tabs-icon-top tabs-stable" padding="true">
	
	<ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
		<ion-nav-view name="homeView"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/app/profile">
		<ion-nav-view name="profileContent"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" href="#/app/timeline">
		<ion-nav-view name="timelineContent"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Search" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" href="#/app/search">
		<ion-nav-view name="searchContent"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Events" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/app/events">
		<ion-nav-view name="eventsContent"></ion-nav-view>
	</ion-tab>
</ion-tabs>
 
<!--
<ion-tabs ng-class="{'tabs-icon-top':true, 'tabs-positive':true, 'tabs-top':isAndroid}">

  
  <ion-tab title="Image Feed" icon="icon ion-camera" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>



  <ion-tab title="Account Settings" icon="icon ion-settings" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
-->
